<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<h2>list of all users:</h2>
<% (User.all).each do |user| %>
	<%= "#{user.name} <#{user.email}>" %>
</br>
<% end %>

<h2>test params:</h2>
<%= users_path %></br>