<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">rails_example_app</a>
    by Manuel Meyer
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>